{{#section 'styles'}}
<link rel="stylesheet" href="css/home.css">
{{/section}}

<div class="home-text">
    <h4>Bem vindo ao MundoLiterário!</h4>
    <h2>A melhor loja</h2>
    <h2>Que você vai ver!</h2>

    <p>
        Bem-vindo ao MundoLiterário, sua porta de entrada para um universo <br>
        encantado de histórias e conhecimento. Aqui, mergulhamos nas páginas <br>
        de livros para explorar mundos imaginários, descobrir saberes e viver <br>
        aventuras extraordinárias.
    </p>

    <div class="home">
        <img src="/images/book-8.gif" class="img-home" alt="">
    </div>

    <a href="/cadastro" class="home-btn">Cadastre-se</a>

    





</div>