{{#section 'styles'}}
<link rel="stylesheet" href="css/loja.css">
{{/section}}

<!-- modelos de livros na lista e no carrinho -->
<!-- O querido que escreveu esse código primeiro, me paga -->
<div class="models">

    <!-- livro na lista -->

    <!-- Lembrar de renomear todas as classes com livro e torcer para dar certo -->
    <div class="book-item">
        <a href="">
            <div class="book-item--img"><img src="" /></div>
            <div class="book-item--add">+</div>
        </a>

        <div class="book-item--price">R$ --</div>
        <div class="book-item--name">--</div>
        <div class="book-item--desc">--</div>
    </div>

    <!-- livros no carrinho -->
    <div class="cart--item">
        <img src="" />
        <div class="cart--item-nome">--</div>
        <div class="cart--item--qtarea">
            <button class="cart--item-qtmenos">-</button>
            <div class="cart--item--qt">1</div>
            <button class="cart--item-qtmais">+</button>
        </div>
    </div>

</div>
<!-- /models -->



<!-- conteudo principal -->
<div class="">

    <h2 class="h2"></h2>

    <div class="book-area"></div>
</div class="">
<!-- /conteudo principal -->

<aside>
    
    <div class="">
        
        <div class="cart"></div>
        
            <div class="cart--totalitem subtotal">
                <span></span>
                <span></span>
            </div>
            <div class="cart--totalitem desconto">
                <span></span>
                <span></span>
            </div>
            <div class="cart--totalitem total big">
                <span></span>
                <span></span>
            </div>
            <!-- Adiciona um link para a página de pagamentos -->
         
        </div>
    </div>
</aside>
<!-- /aside do carrinho -->

<!-- janela modal .bookWindowArea -->
<div class="bookWindowArea">
    <div class="bookWindowBody">
        <div class="bookInfo--cancelMobileButton">Voltar</div>
        <div class="bookBig">
            <img src="" />
        </div>
        <div class="bookInfo">
            <h1 class="h1">--</h1>
            <div class="bookInfo--desc">--</div>
            <div class="bookInfo--sizearea">
                <div class="bookInfo--sector">Modelo</div>
                <div class="bookInfo--sizes">
                    <div data-key="D" class="bookInfo--size">CAPA DURA <span>--</span></div>
                    <div data-key="C" class="bookInfo--size">CAPA COMUM <span>--</span></div>
                    <div data-key="E" class="bookInfo--size selected">E-BOOK <span>--</span></div>
                </div>
            </div>
            <div class="bookInfo--pricearea">
                <div class="bookInfo--sector">Preço</div>
                <div class="bookInfo--price">
                    <div class="bookInfo--actualPrice">R$ --</div>
                    <div class="bookInfo--qtarea">
                        <button class="bookInfo--qtmenos">-</button>
                        <div class="bookInfo--qt">1</div>
                        <button class="bookInfo--qtmais">+</button>
                    </div>
                </div>
            </div>
            <div class="bookInfo--addButton">Adicionar ao carrinho</div>
            <div class="bookInfo--cancelButton">Cancelar</div>
        </div>
    </div>
</div>
<!-- /janela modal .bookWindowArea -->


    