{{#section 'styles'}}
<link rel="stylesheet" href="css/obrigada.css">
{{/section}}

<div class="container">
    <p class="thank-you">Obrigada por comprar conosco, aproveite seus livros!</p>
    <p class="come-back">Volte sempre!</p>
    <a href="/" class="home-button">Home</a>
  </div>