@import url('https://fonts.googleapis.com/css?family=Hepta+Slab:400,700|Lato:400,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: #5d9e7e26;
    font-size: 15px;
    display: flex;
    margin: 0;
    width: 100%;
    background-image: linear-gradient(#ffffff 1.1rem, #ccc 1.2rem);
    background-size: 100% 1.2rem;
}

.models {
    display: none;
}

header {
    position:absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 80px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 1rem;
    color: #000000;
}

aside {
    background-color: #ffffff61;
    width: 0vw;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    font-family: 'Hepta Slab', Helvetica, Arial;
    transition: all ease .2s;
    overflow-x: hidden;
    margin-left: 700px;
   
}

aside.show {
    width: 30vw;
}

.cart--area {
    margin-top: 30px;
    padding: 20px;
}

.cart--area h1 {
    display: relative;
}

main {
    flex: 1;
    padding: 20px;
    margin-top: 60px;
}

h1,
h2 {
    font-family: 'Hepta Slab', Helvetica, Arial;
    text-align: center;
}

.book-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.book-item {
    text-align: center;
    max-width: 250px;
    font-family: 'Hepta Slab', Helvetica, Arial;
    margin: 0 auto 50px auto;
}

.book-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.book-item--img img {
    width: 100%;
    height: auto;
}

.book-item--add {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #000000;
    text-align: center;
    color: #FFF;
    font-size: 22px;
    cursor: pointer;
    margin-top: -25px;
    transition: all ease .2s;
}

.book-item a:hover .book-item--add {
    background-color: #7080969a;
}

.book-item--price {
    font-size: 15px;
    color: #333;
    margin-top: 5px;
}

.book-item--name {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-top: 5px;
}

.book-item--desc {
    font-size: 13px;
    color: #555;
    margin-top: 10px;
}

.bookWindowArea {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.bookWindowBody {
    width: 900px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #999;
    display: flex;
    margin: 20px 0px;
}

.bookBig {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookBig--back {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #000;
}

.bookBig img {
    height: 400px;
    width: auto;
}

.bookInfo {
    flex: 1;
    font-family: 'Hepta Slab', Helvetica, Arial;
    padding-bottom: 50px;
}

.bookInfo h1 {
    margin-top: 50px;
}

.bookInfo .bookInfo--desc {
    font-size: 15px;
    color: #999;
    margin-top: 10px;
    font-family: 'Lato', Helvetica, Arial;
}

.bookInfo--sector {
    color: #CCC;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.bookInfo--sizes {
    display: inline-flex;
    border-radius: 10px;
    overflow: hidden;
}

.bookInfo--size {
    padding: 10px 15px;
    color: #000;
    background-color: #EEE;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

.bookInfo--size:hover {
    background-color: #CCC;
}

.bookInfo--size.selected {
    background-color: #708096f4;
    color: #FFF;
}

.bookInfo--size.selected span {
    color: #D6D6D6;
}

.bookInfo--size span {
    font-size: 12px;
    color: #999;
    font-weight: normal;
}

.bookInfo--price {
    display: flex;
    align-items: center;
}

.bookInfo--actualPrice {
    font-size: 28px;
    margin-right: 30px;
}

.bookInfo--qtarea {
    display: inline-flex;
    background-color: #EEE;
    border-radius: 10px;
    height: 30px;
}

.bookInfo--qtarea button {
    border: 0;
    background-color: transparent;
    font-size: 17px;
    outline: 0;
    cursor: pointer;
    padding: 0 10px;
    color: #333;
}

.bookInfo--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0 5px;
    color: #000;
}

.bookInfo--addButton {
    margin-top: 30px;
    padding: 20px 30px;
    border-radius: 20px;
    background-color: #000000;
    color: #FFF;
    display: inline-block;
    cursor: pointer;
    margin-right: 30px;
    transition: all ease .2s;
}

.bookInfo--addButton:hover {
    background-color: #7080969a;
}

.bookInfo--cancelButton,
.bookInfo--cancelMobileButton {
    display: inline-block;
    cursor: pointer;
}

.bookInfo--cancelMobileButton {
    display: none;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 30px;
}

.cart {
    margin-bottom: 20px;
}

.cart--item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.cart--item img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.cart--item-nome {
    flex: 1;
}

.cart--item--qtarea {
    display: inline-flex;
    background-color: #EEE;
    border-radius: 10px;
    height: 30px;
}

.cart--item--qtarea button {
    border: 0;
    background-color: transparent;
    font-size: 17px;
    outline: 0;
    cursor: pointer;
    padding: 0 10px;
    color: #333;
}

.cart--item--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0 5px;
    color: #000;
}

.cart--totalitem {
    padding: 15px 0;
    border-top: 1px solid rgb(57, 59, 63);
    color: #000000;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.cart--totalitem span:first-child {
    font-weight: bold;
}

.cart--totalitem.big {
    font-size: 20px;
    color: #036635;
    font-weight: bold;
}

a.cart--finalizar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    border-radius: 20px;
    background-color: #000000;
    color: #FFF;
    cursor: pointer;
    margin-top: 20px;
    border: 2px solid #3a443c;
    transition: all ease .2s;
    text-decoration: none;
}

a.cart--finalizar:hover {
    background-color: #7080969a;
}


@media (max-width: 1000px) {
    .book-area {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 840px) {
    body {
        flex-direction: column;
    }

    .book-area {
        display: block;
    }

    .book-item {
        max-width: 100%;
    }

    header {
        display: flex;
    }

    aside {
        width: auto;
        position: fixed;
        left: 100vw;
        right: 0;
        top: 0;
        bottom: 0;
        transition: all ease .2s;
    }




    .bookWindowArea {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .bookWindowBody {
        width: 100vw;
        display: block;
        padding: 20px;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
    }

    .bookBig img {
        width: 75%;
        height: auto;
    }

    .bookInfo h1 {
        margin-top: 20px;
    }

    .bookInfo--qtarea {
        height: 60px;
    }

    .bookInfo--qtarea button {
        font-size: 25px;
        padding: 0 25px;
    }

    .bookInfo--qt {
        line-height: 60px;
        font-size: 20px;
    }

    .bookInfo--addButton {
        font-size: 20px;
        display: block;
        text-align: center;
        margin: 30px auto;
    }

    .bookInfo--cancelButton {
        display: none;
    }

    .bookInfo--cancelMobileButton {
        display: block;
    }
}

@media (max-width: 450px) {
    header h1 {
        font-size: 1.5rem;
    }

    .menu-openner {
        font-size: 1.5rem;
        cursor: pointer;
    }
}

@media (max-width: 380px) {
    header h1 {
        font-size: 1rem;
    }

    .menu-openner {
        font-size: 1.5rem;
        cursor: pointer;
    }
}

#img-logo {
    width: 50px;
}

footer {
    background-color: #fafafa;
    box-shadow: rgba(33, 35, 38, 0.1) 0px -10px 10px -5px;
    height: 10vh;
    padding: 20px;
    text-align: center;
    width: 100%;
    position:fixed;
    margin-bottom: 1000px;
    left: 0;

}
